* {
    margin: 0;
    padding: 0;
}

#navbar {
    width: 90%;
    height: 80px;
    margin: 02% 05%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 1000;
}

#logo {
    margin-left: 02%;
}

#toggle {
    display: none;
}

#enner-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-family: var(--font-primary);
        font-weight: 600;
        transition: all 0.3s;
    }

    a:hover {
        color: rgb(86, 86, 254);
        transform: scale(1.08);
    }
}

#buy {
    cursor: pointer;
    margin-right: 02%;
    padding: 01%;
    padding-left: 01%;
    padding-right: 01%;
    border-radius: 05px;
    background-color: rgb(86, 86, 254);
    display: flex;
    width: 11%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;

    a {
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-family: var(--font-primary);
        font-weight: 600;
    }

    i {
        color: white;
    }
}

#buy:hover {
    transform: scale(1.05);
}

#section1 {
    width: 100%;
    height: 640px;
    background-color: rgb(254, 234, 237);
}

#sub {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fbanner-mockup.png&w=3840&q=75") !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 100%;
    position: relative;
    left: 40%;
    top: 25%;
}

#sub-section1 {
    width: 30%;
    height: 60%;
    position: absolute;
    left: 07%;
    top: 35%;

    h1 {
        line-height: 1.3;
        font-size: 36px;
        margin-bottom: 10%;
    }

    #e-commerce {
        color: #ff497c;
        display: flex;

        i {
            margin-top: 03%;
            margin-left: 02%;
            font-size: 20px;
        }
    }
}

.counter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: blue;
    font-weight: bold;
    font-size: 25px;
    font-family: verdana;
    float: left;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
}

.powered {
    width: 100%;
    height: 25%;
    border-radius: 07px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    p {
        margin-top: 03%;
    }

    img {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
}

#section2 {
    width: 100.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f6f7fb;
}

.box {
    margin-top: 10% !important;
    width: 40% !important;
    height: 450px;
    border-radius: 08px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.demo {
    height: 60px;
    width: 30%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 08px;
    display: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.demo:hover {
    transform: scale(1.05);
}

.box:hover .demo {
    display: block;
}

.box-1 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fhome-01.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
    margin-top: 02%;
}

.box-2 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fhome-04.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
    margin-top: 02%;
}

.box-3 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fhome-04.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.box-4 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fhome-05.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.box-5 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fhome-02.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
    margin-bottom: 05%;
}

.box-6 {
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fcomming-soon.png&w=1920&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
    margin-bottom: 05%;
}

.box-6:hover .demo{
    display: none;
}

 #section3{
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 20px;
}

.write{
    color: #8c71db;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 05%;

    p{
        margin-top: 01%;
        margin-left: 01%;
    }
}

.view{   
    height: 60px;
    width: 40%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 08px;
    display: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.view:hover {
    transform: scale(1.05);
}

.sub-section3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.chotu{
    margin-top: 05% !important;
    width: 30% !important;
    height: 350px;
    border-radius: 08px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

.chotu:hover .view {
    display: block;
}

.chotu1{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fshop.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.chotu2{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fshop-sidebar.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.chotu3{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fvariation-1.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.chotu4{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fvariation-2.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.chotu5{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fvariation-3.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

.chotu6{
    background-image: url("https://etrade-delta.vercel.app/_next/image?url=%2Fimages%2Fpreview%2Fvariation-4.png&w=828&q=75");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out;
}

